**Importing Libraries

In [11]:
import pandas as pd

**Importing dataset

In [12]:
data = pd.read_csv("bank-additional-full.csv", sep=";")

In [15]:
print(data.head(pd.set_option("display.max_columns", None)))

       age          job  marital            education  default housing loan  \
0       56    housemaid  married             basic.4y       no      no   no
1       57     services  married          high.school  unknown      no   no
2       37     services  married          high.school       no     yes   no
3       40       admin.  married             basic.6y       no      no   no
4       56     services  married          high.school       no      no  yes
...    ...          ...      ...                  ...      ...     ...  ...
41183   73      retired  married  professional.course       no     yes   no
41184   46  blue-collar  married  professional.course       no      no   no
41185   56      retired  married    university.degree       no     yes   no
41186   44   technician  married  professional.course       no      no   no
41187   74      retired  married  professional.course       no     yes   no

         contact month day_of_week  duration  campaign  pdays  previous  \
0      telephone   may         mon       261         1    999         0
1      telephone   may         mon       149         1    999         0
2      telephone   may         mon       226         1    999         0
3      telephone   may         mon       151         1    999         0
4      telephone   may         mon       307         1    999         0
...          ...   ...         ...       ...       ...    ...       ...
41183   cellular   nov         fri       334         1    999         0
41184   cellular   nov         fri       383         1    999         0
41185   cellular   nov         fri       189         2    999         0
41186   cellular   nov         fri       442         1    999         0
41187   cellular   nov         fri       239         3    999         1

          poutcome  emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m  \
0      nonexistent           1.1          93.994          -36.4      4.857
1      nonexistent           1.1          93.994          -36.4      4.857
2      nonexistent           1.1          93.994          -36.4      4.857
3      nonexistent           1.1          93.994          -36.4      4.857
4      nonexistent           1.1          93.994          -36.4      4.857
...            ...           ...             ...            ...        ...
41183  nonexistent          -1.1          94.767          -50.8      1.028
41184  nonexistent          -1.1          94.767          -50.8      1.028
41185  nonexistent          -1.1          94.767          -50.8      1.028
41186  nonexistent          -1.1          94.767          -50.8      1.028
41187      failure          -1.1          94.767          -50.8      1.028

       nr.employed    y
0           5191.0   no
1           5191.0   no
2           5191.0   no
3           5191.0   no
4           5191.0   no
...            ...  ...
41183       4963.6  yes
41184       4963.6   no
41185       4963.6   no
41186       4963.6  yes
41187       4963.6   no

[41188 rows x 21 columns]